# ── Maven ──────────────────────────────────
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ── Spring Boot ────────────────────────────
*.jar
*.war
*.ear

# ── Credenciales y configuración sensible ──
application-prod.properties
application-local.properties
.env

# ── IDE — VS Code ──────────────────────────
.vscode/
*.code-workspace

# ── IDE — IntelliJ ─────────────────────────
.idea/
*.iml
*.iws
*.ipr

# ── IDE — Eclipse ──────────────────────────
.eclipse/
.classpath
.project
.settings/

# ── Sistema operativo ──────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ── Logs ───────────────────────────────────
logs/
*.log
*.log.*

# ── Otros ──────────────────────────────────
*.tmp
*.swp
