# Variables de entorno — NUNCA subir al repositorio
.env

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Archivos compilados
*.jar
*.war
*.ear

# VS Code
.vscode/
*.code-workspace

# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
logs/
*.log